{% load static %}

<section class="hero-section hero-section-full-height" id="section_4">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12 p-0">
                <div id="members" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row" style="padding: 7%;">
                                <div class="col-lg-6 col-md-5 col-12">
                                    <img src="{% static 'images/elmasfachero.jpg' %}"
                                         class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                                </div>

                                <div class="col-lg-5 col-md-7 col-12">
                                    <div class="carousel carousel-fade slide custom-text-block" data-bs-ride="carousel">
                                        <h2 class="mb-0">Lorenzo Galaverna</h2>

                                        <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                        <p>Young student from ITS Villada, Cordoba.</p>

                                        <p>Passionate about Web Development and also soccer, the biggest River Plate
                                            fan.</p>

                                        <ul class="social-icon mt-4">
                                            <li class="social-icon-item">
                                                <a href="https://github.com/LorenzoGalaverna"
                                                   class="social-icon-link bi-github"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.linkedin.com/in/lorenzo-galaverna-456b2621b/"
                                                   class="social-icon-link bi-linkedin"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.instagram.com/lolo_galaverna/"
                                                   class="social-icon-link bi-instagram"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row" style="padding: 7%;">

                                <div class="col-lg-6 col-md-5 col-12">
                                    <img src="{% static 'images/mate.jpg' %}"
                                         class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                                </div>

                                <div class="col-lg-5 col-md-7 col-12">
                                    <div class="carousel carousel-fade slide custom-text-block" data-bs-ride="carousel">
                                        <h2 class="mb-0">Mateo Marchisone</h2>

                                        <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                        <p>Young student from ITS Villada, Cordoba.</p>

                                        <p>Passionate about Web Development and music, the biggest Arctic Monkeys
                                            fan.</p>

                                        <ul class="social-icon mt-4">
                                            <li class="social-icon-item">
                                                <a href="https://github.com/MateMar04"
                                                   class="social-icon-link bi-github"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.linkedin.com/in/mateo-marchisone-8b5230197/"
                                                   class="social-icon-link bi-linkedin"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.instagram.com/mate_marchisone/"
                                                   class="social-icon-link bi-instagram"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row" style="padding: 7%;">

                                <div class="col-lg-6 col-md-5 col-12">
                                    <img src="{% static 'images/urtu.jpg' %}"
                                         class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                                </div>

                                <div class="col-lg-5 col-md-7 col-12">
                                    <div class="carousel carousel-fade slide custom-text-block" data-bs-ride="carousel">
                                        <h2 class="mb-0">Jose Urtubey</h2>

                                        <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                        <p>Young student from ITS Villada, Cordoba.</p>

                                        <p>Passionate about Web Development and videogames, the best Kiriko player all
                                            over the world.</p>

                                        <ul class="social-icon mt-4">
                                            <li class="social-icon-item">
                                                <a href="https://github.com/JoseUrtubey"
                                                   class="social-icon-link bi-github"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.instagram.com/urtu_1/"
                                                   class="social-icon-link bi-instagram"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#members" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#members" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>