<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Biomedical</title>
    <link rel="shortcut icon" href="{% static 'images/logopage.png' %}">
</head>
<body>

{% include 'header.html' %}

<div class="wrapper">
    <header class="section header">

        <div class="header__text">
            <p>Realiza una nueva Solicitud</p>
        </div>
    </header>

    <section class="section sign-up" style="display: block">
        <form class="form" id="a-form" method="post" action="{% url 'registrarSolicitud' %}">
            {% csrf_token %}
            <h2 class="form_title title">Realiza una Solicitud</h2>
            <input class="custom-border-form" type="text" placeholder="Receta" name="receta">
            <input class="custom-border-form" type="date" placeholder="Fecha de la Receta" name="fecha_receta">
            <select class="custom-border-select" name="paciente">
                <option disabled selected value="">Seleccione un Paciente</option>
                {% for p in paciente %}
                    <option value="{{ p.id }}">{{ p.nombre }} {{ p.apellido }} {{ p.n_documento }}</option>
                {% endfor %}
            </select>

            <select class="custom-border-select" name="extraccionista">
                <option disabled selected value="">Seleccione un Extraccionista</option>
                {% for e in extraccionista %}
                    <option value="{{ e.id }}">{{ e.nombre }} {{ e.apellido }}</option>
                {% endfor %}
            </select>

            <select class="custom-border-select" name="medico">
                <option disabled selected value="">Seleccione un Medico</option>
                {% for m in medico %}
                    <option value="{{ m.id }}">{{ m.nombre }} {{ m.apellido }}</option>
                {% endfor %}
            </select>

            <div>
                {% for es in estudio %}
                    <label for="{{ es.id }}"> {{ es.nombre }}</label>
                    <input name="estudio" class="custom-border-form" type="checkbox" id="{{ es.id }}"
                           value="{{ es.id }}">
                {% endfor %}
            </div>
            <button class="nav-link custom-btn custom-border-btn btn inactive">Realizar Solicitud</button>
            <a style="text-align:center;margin:2px;margin-top: 2rem; padding-top:5px;padding-bottom:5px" class="nav-link custom-btn custom-border-btn inactive" href="http://127.0.0.1:8000/medico_register/">Crear Paciente</a>
            <a style="text-align:center;margin:2px; padding-top:5px;padding-bottom:5px" class="nav-link custom-btn custom-border-btn inactive" href="http://127.0.0.1:8000/medico_register/">Crear Extraccionista</a>
            <a style="text-align:center;margin:2px; padding-top:5px;padding-bottom:5px" class="nav-link custom-btn custom-border-btn inactive" href="http://127.0.0.1:8000/medico_register/">Crear Medico</a>
        </form>
    </section>
</div>

</body>
</html>