<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Biomedical</title>
    <link rel="shortcut icon" href="{% static 'images/logopage.png' %}">
</head>
<body>

{% include 'header.html' %}

<div class="wrapper">
    <header class="section header">

        <div class="header__text">
            <p>Realiza una nueva Solicitud</p>
        </div>
    </header>

    <section class="section sign-up" style="display: block">
        <form class="form" id="a-form" method="" action="">
            <h2 class="form_title title">Realiza una Solicitud</h2>
            <input class="custom-border-form" type="file" placeholder="Receta">
            <input class="custom-border-form" type="date" placeholder="Fecha de la Receta">
            <select class="custom-border-select" name="Paciente">
                <option disabled selected value="">Seleccione un Paciente</option>
                <option>Paciente 1</option>
            </select>
            <input disabled class="custom-border-form" type="text" placeholder="ID Paciente">
            <input class="custom-border-form" type="text" placeholder="Nombre">
            <input class="custom-border-form" type="text" placeholder="Apellido">
            <input class="custom-border-form" type="text" placeholder="Email">
            <select disabled class="custom-border-select" name="Extraccionista">
                <option disabled selected value="">Seleccione un Extraccionista</option>
                <option>Extraciconista 1</option>
            </select>
            <select class="custom-border-select" name="Medico">
                <option disabled selected value="">Seleccione un Medico</option>
                <option>Medico 1</option>
            </select>

            <div>
                <label for="Estudio1"> Estudio 1</label>
                <input class="custom-border-form" type="checkbox" id="Estudio1">
            </div>

            <button class="nav-link custom-btn custom-border-btn btn inactive">Modificar datos</button>
            <button class="nav-link custom-btn custom-border-btn btn inactive">Relaizar Solicitud</button>

        </form>
    </section>
</div>

</body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>