{% load static%}

<section class="testimonial-section section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="mb-lg-3">Happy Customers</h2>
                
                    <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                               <div class="carousel-caption">
                                    <h4 class="carousel-title">The results of my studies had been delivered too fast</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Maria</span>, Client</small>
                               </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Perfect.</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Thomas</span>, Client</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Great atention and good vibes</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Jane</span>, Client</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Everything i needed.</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Bob</span>, Client</small>
                               </div>
                            </div>

                              <ol class="carousel-indicators">
                                   <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                        <img src="{%static 'images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg'%}" class="img-fluid rounded-circle avatar-image" alt="avatar">
                                   </li>

                                   <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="">
                                        <img src="{%static 'images/avatar/portrait-young-redhead-bearded-male.jpg'%}" class="img-fluid rounded-circle avatar-image" alt="avatar">
                                   </li>

                                   <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="">
                                        <img src="{%static 'images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg'%}" class="img-fluid rounded-circle avatar-image" alt="avatar">
                                   </li>

                                   <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="">
                                        <img src="{%static 'images/avatar/studio-portrait-emotional-happy-funny.jpg'%}" class="img-fluid rounded-circle avatar-image" alt="avatar">
                                   </li>
                              </ol>

                     </div>
                </div>
            </div>

        </div>
    </div>
</section>