{% load static%}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Biomedical</title>
        <link rel="shortcut icon" href="{%static 'images/logopage.png'%}">

        <!-- CSS FILES -->        
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">

        <link href="{%static 'css/bootstrap-icons.css'%}" rel="stylesheet">

        <link href="{%static 'css/templatemo-kind-heart-charity.css'%}" rel="stylesheet">
    </head>
    
    <body id="section_1">

        {% include 'header.html' %}

        <main>

            {% include 'carousel_hero.html' %}

            {% include 'our_story.html' %}
  
            {% include 'news.html' %}

            {% include 'happy_customer.html' %}

            {% include 'carousel_developers.html' %}

            {% include 'contact_form.html' %}


            
        </main>

        {% include 'footer.html' %}

        <!-- JAVASCRIPT FILES -->
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/jquery.sticky.js'%}"></script>
        <script src="{%static 'js/click-scroll.js'%}"></script>
        <script src="{%static 'js/counter.js'%}"></script>
        <script src="{%static 'js/custom.js'%}"></script>

    </body>
</html>