{% load static%}

<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="{%static 'css/make_solicitud.css'%}" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="{%static 'css/templatemo-kind-heart-charity.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Biomedical</title>
    <link rel="shortcut icon" href="{%static 'images/logopage.png'%}">
  </head>
  <body>
      <div class="main">
        <form class="form" id="a-form" method="" action="">
          <a class="nav-link custom-btn custom-border-btn btn inactive" href="http://127.0.0.1:8000/">HOME</a>
          <h2 class="form_title title">Generar Solicitud</h2>
          <input class="form__input" type="text" placeholder="Nombre">
          <input class="form__input" type="text" placeholder="Apellido">
          <select class="form__input" name="Tipo de Documento">
            <option disabled selected value="">Seleccione tipo de Documento</option>
            <option value="DNI">DNI</option>
            <option value="CUIL">CUIL</option>
            <option value="Pasaporte">Pasaporte</option>
          </select>
          <input class="form__input" type="number" placeholder="N° Documento">
          <select class="form__input" name="Sexo">
            <option disabled selected value="">Seleccione su Sexo</option>
            <option value="DNI">Masculino</option>
            <option value="CUIL">Femenino</option>
            <option value="Pasaporte">Otro</option>
          </select>
          <input class="form__input" type="text" placeholder="Calle">
          <input class="form__input" type="number" placeholder="Altura">
          <input class="form__input" type="text" placeholder="N° Piso *">
          <input class="form__input" type="text" placeholder="Departamento *">
          <input class="form__input" type="tel" placeholder="Telefono">
          <input class="form__input" type="text" placeholder="Email">
          <input class="form__input" type="password" placeholder="Contraseña">
          <input class="form__input" type="password" placeholder="Repetir contraseña">
          <button class="nav-link custom-btn custom-border-btn btn inactive form__button button submit">GENERAR</button>
        </form>
      </div>
  </body>
</html>