{% load static%}

<section class="news-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 mb-5">
                <h2>Latest News</h2>
            </div>

            <div class="col-lg-7 col-12">
                <div class="news-block">
                    <div class="news-block-top">
                        <a>
                            <img src="{%static 'images/news/centroinvestigacion.jpg'%}" class="news-image img-fluid" alt="">
                        </a>

                        <div class="news-category-block">
                            <a class="category-block-link">
                                Buildings,
                            </a>

                            <a class="category-block-link">
                                Aesthetic
                            </a>
                        </div>
                    </div>

                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    October 12, 2036
                                </p>
                            </div>

                            <div class="news-block-author mx-5">
                                <p>
                                    <i class="bi-person custom-icon me-1"></i>
                                    By Admin
                                </p>
                            </div>

                            <div class="news-block-comment">
                                <p>
                                    <i class="bi-chat-left custom-icon me-1"></i>
                                    32 Comments
                                </p>
                            </div>
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a class="news-block-title-link">New investigation center</a></h4>
                        </div>

                        <div class="news-block-body">
                            <p>We have recently builded the new biggest investigation center of all over the world in Saudi Arabia</p>
                        </div>
                    </div>
                </div>

                <div class="news-block mt-3">
                    <div class="news-block-top">
                        <a >
                            <img src="{%static 'images/news/curacancer.jpg'%}" class="news-image img-fluid" alt="">
                        </a>

                        <div class="news-category-block">
                            <a class="category-block-link">
                                Cancer,
                            </a>

                            <a class="category-block-link">
                                Heal
                            </a>
                        </div>
                    </div>

                    <div class="news-block-info">
                        <div class="d-flex mt-2">
                            <div class="news-block-date">
                                <p>
                                    <i class="bi-calendar4 custom-icon me-1"></i>
                                    October 20, 2036
                                </p>
                            </div>

                            <div class="news-block-author mx-5">
                                <p>
                                    <i class="bi-person custom-icon me-1"></i>
                                    By Admin
                                </p>
                            </div>

                            <div class="news-block-comment">
                                <p>
                                    <i class="bi-chat-left custom-icon me-1"></i>
                                    35 Comments
                                </p>
                            </div>
                        </div>

                        <div class="news-block-title mb-2">
                            <h4><a class="news-block-title-link">Cancer cure</a></h4>
                        </div>

                        <div class="news-block-body">
                            <p>Our company have found the cancer cure</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mx-auto">

                <h5 class="mt-5 mb-3">Recent news</h5>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a >
                            <img src="{%static 'images/news/recentnews1.jpg'%}" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a  class="news-block-title-link">Health Care</a></h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="bi-calendar4 custom-icon me-1"></i>
                                October 16, 2036
                            </p>
                        </div>
                    </div>
                </div>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a >
                            <img src="{%static 'images/news/recentnews2.jpg'%}" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a  class="news-block-title-link">Volunteering</a></h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="bi-calendar4 custom-icon me-1"></i>
                                October 24, 2036
                            </p>
                        </div>
                    </div>
                </div>

                <form class="custom-form subscribe-form" action="#" method="get" role="form">
                    <h5 class="mb-4">Newsletter Form</h5>

                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required>

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control">Subscribe</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>