{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biomedical</title>
    <link href="{% static 'css/resultado.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logopage.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
</head>
<body>
{% include 'header.html' %}
<h1>Resultados de </h1>
<div class="container">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1 cell-title">Solicitud</div>
            <div class="col col-1 cell-title">Fecha de Recepcion</div>
            <div class="col col-1 cell-title">Medico</div>
            <div class="col col-1 cell-title">Fecha Finalizacion</div>
            <div class="col col-1 cell-title">Fecha Receta</div>
            <div class="col col-1 cell-title">Estado</div>
        </li>
        <li class="table-row">
            <div class="col col-1" data-label="Job Id">42235</div>
            <div class="col col-1" data-label="Customer Name">20/12/2020</div>
            <div class="col col-1" data-label="Amount">Juan Perez</div>
            <div class="col col-1" data-label="Payment Status">30/12/2020</div>
            <div class="col col-1" data-label="Payment Status">15/12/2020</div>
            <div class="col col-1" data-label="Payment Status">Pending</div>
        </li>
    </ul>
    <div class="container">
        <table>
            <tr>
                <td class="cell cell-title">Estudio:</td>
                <td class="cell">Glucemia</td>
            </tr>
            <tr>
                <td class="cell cell-title">Metodo:</td>
                <td class="cell">Enzimatico</td>
            </tr>
            <tr>
                <td class="cell cell-title">Rango de Referencia:</td>
                <td class="cell">10 - 15</td>
            </tr>
            <tr>
                <td class="cell cell-title">Valor Hallado:</td>
                <td class="cell">12</td>
            </tr>
            <tr>
                <td class="cell cell-title">Fecha de Toma de Muestra:</td>
                <td class="cell">12/12/2020</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>